<div class="container-fluid" >
  <div class="row">
    <div class="col-xs-12 col-md-6">
        <form role="form" #formData='ngForm'>
            <fieldset>
              <div class="form-group">
                <label class="form-control-label" for="formGroupPrdName">Product Name</label>
                <input autofocus type="text" class="form-control" id="formGroupPrdName" [(ngModel)]="newPrd.name" placeholder="Product Name" name="formGroupPrdName">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="formGroupPrdID">Product ID</label>
                <input type="text" class="form-control" id="formGroupPrdID" [(ngModel)]="newPrd.id" placeholder="Product ID" name="formGroupPrdID">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="formGroupPrdDescrp">Product Description</label>
                <input type="text" class="form-control" id="formGroupPrdDescrp" [(ngModel)]="newPrd.descrp" placeholder="Product Description" name="formGroupPrdDescrp">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="formGroupPrdPrice">Product Price</label>
                <input type="number" class="form-control" id="formGroupPrdPrice" [(ngModel)]="newPrd.price" placeholder="Product Price" name="formGroupPrdPrice">
              </div>
              <div class="form-group">
                <label class="form-control-label" for="formGroupPrdPackInfo">Product Package Info</label>
                <input type="text" class="form-control" id="formGroupPrdPackInfo" [(ngModel)]="newPrd.pack" placeholder="Product Package Info" name="formGroupPrdPackInfo">
              </div>
              <div class="btn-group">
                <form #f="ngForm">
                  <input type="radio" [value]="true" name="isRefundable" [(ngModel)]="newPrd.isRefundable" checked>Refundable
                  <input type="radio" [value]="false" name="isRefundable" [(ngModel)]="newPrd.isRefundable">Non-Refundable
                </form>
              </div>
            </fieldset>
        </form>
    </div>
    <div class="col-xs-12 col-md-6">
      {{newPrd.name}}{{newPrd.id}}{{newPrd.descrp}}{{newPrd.price}}{{newPrd.pack}}{{newPrd.isRefundable}}
      <div *ngIf="newPrd.isRefundable">
        Refundable
      </div>
    </div>
  </div>
</div>